.leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-pane > svg, .leaflet-pane > canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer { position: absolute; left: 0px; top: 0px; }
.leaflet-container { overflow: hidden; }
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow { user-select: none; -webkit-user-drag: none; }
.leaflet-safari .leaflet-tile { image-rendering: -webkit-optimize-contrast; }
.leaflet-safari .leaflet-tile-container { width: 1600px; height: 1600px; transform-origin: 0px 0px; }
.leaflet-marker-icon, .leaflet-marker-shadow { display: block; }
.leaflet-container .leaflet-overlay-pane svg, .leaflet-container .leaflet-marker-pane img, .leaflet-container .leaflet-shadow-pane img, .leaflet-container .leaflet-tile-pane img, .leaflet-container img.leaflet-image-layer { max-width: none !important; }
.leaflet-container.leaflet-touch-zoom { touch-action: pan-x pan-y; }
.leaflet-container.leaflet-touch-drag { }
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom { touch-action: none; }
.leaflet-container {-webkit-tap-highlight-color: transparent;}
.leaflet-container a {-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);}
.leaflet-tile { filter: inherit; visibility: hidden; }
.leaflet-tile-loaded { visibility: inherit; }
.leaflet-zoom-box { width: 0px; height: 0px; box-sizing: border-box; z-index: 800; }
.leaflet-overlay-pane svg { }
.leaflet-pane { z-index: 400; }
.leaflet-tile-pane { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane { z-index: 500; }
.leaflet-marker-pane { z-index: 600; }
.leaflet-tooltip-pane { z-index: 650; }
.leaflet-popup-pane { z-index: 700; }
.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg { z-index: 200; }
.leaflet-vml-shape { width: 1px; height: 1px; }
.lvml { display: inline-block; position: absolute; }
.leaflet-control { position: relative; z-index: 800; pointer-events: auto; }
.leaflet-top, .leaflet-bottom { position: absolute; z-index: 1000; }
.leaflet-top { top: -5px; }
.leaflet-right { right: 0px; }
.leaflet-bottom { bottom: 0px; }
.leaflet-left { left: 0px; }
.leaflet-control { float: left; clear: both; }
.leaflet-right .leaflet-control { float: right; }
.leaflet-top .leaflet-control { margin-top: 10px; }
.leaflet-bottom .leaflet-control { margin-bottom: 10px; }
.leaflet-left .leaflet-control { margin-left: 10px; }
.leaflet-right .leaflet-control { margin-right: 10px; }
.leaflet-bottom { position: absolute; z-index: 1000; pointer-events: none; }
.leaflet-middle { top: 50%; }
.leaflet-middle .leaflet-control { margin-top: 5px; }
.leaflet-fade-anim .leaflet-tile { will-change: opacity; }
.leaflet-fade-anim .leaflet-popup { opacity: 0; transition: opacity 0.2s linear 0s; }
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup { opacity: 1; }
.leaflet-zoom-animated { transform-origin: 0px 0px; }
.leaflet-zoom-anim .leaflet-zoom-animated { will-change: transform; }
.leaflet-zoom-anim .leaflet-zoom-animated { transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s; }
.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile { transition: none 0s ease 0s; }
.leaflet-zoom-anim .leaflet-zoom-hide { visibility: hidden; }
.leaflet-interactive { cursor: pointer; }
.leaflet-grab { cursor: -webkit-grab; }
.leaflet-crosshair, .leaflet-crosshair .leaflet-interactive { cursor: crosshair; }
.leaflet-popup-pane, .leaflet-control { cursor: auto; }
.leaflet-dragging .leaflet-grab, .leaflet-dragging .leaflet-grab .leaflet-interactive, .leaflet-dragging .leaflet-marker-draggable { cursor: -webkit-grabbing; }
.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container { pointer-events: none; }
.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive { pointer-events: auto; }
.leaflet-container { position: absolute; top: 0px; right: 0px; padding: 4px 4px 0px 0px; text-align: left; width: 18px; height: 14px; font: 12px / 1.2 "Helvetica Neue", Arial, Helvetica, sans-serif; color: azure; }
.leaflet-container a { color: rgb(0, 120, 168); }
.leaflet-container a.leaflet-active { outline: orange solid 2px; }
.leaflet-zoom-box { border: 2px dotted rgb(51, 136, 255); background: rgba(255, 255, 255, 0.5); }
.leaflet-center { left: 50%; transform: translate(-50%, 0%); }
.leaflet-bar {box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px;border-radius: 4px;}
.leaflet-bar a, .leaflet-bar a:hover {background-color: rgba(244, 244, 244, 0.71);border-bottom: 1px solid rgb(204, 204, 204);width: 26px;height: 26px;line-height: 26px;display: block;text-align: center;text-decoration: none;color: black;}
.leaflet-bar a, .leaflet-control-layers-toggle { background-position: 50% 50%; background-repeat: no-repeat; display: block; }
.leaflet-bar a:hover { background-color: rgb(244, 244, 244); }
.leaflet-bar a:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.leaflet-bar a:last-child { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: none; }
.leaflet-bar a.leaflet-disabled { cursor: default; background-color: rgb(244, 244, 244); color: rgb(187, 187, 187); }
.leaflet-touch .leaflet-bar a { width: 30px; height: 30px; line-height: 30px; }
.leaflet-touch .leaflet-bar a:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.leaflet-touch .leaflet-bar a:last-child { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.leaflet-control-zoom-in, .leaflet-control-zoom-out { font: bold 18px "Lucida Console", Monaco, monospace; text-indent: 1px; }
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out { font-size: 22px; }
.leaflet-control-layers {box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 5px;background: rgba(244, 244, 244, 0.71);border-radius: 5px;}
.leaflet-control-layers-toggle { background-image: url("images/LAYER.svg"); width: 36px; height: 36px; }
.leaflet-retina .leaflet-control-layers-toggle { background-image: url("images/LAYER.svg"); background-size: 26px 26px; }
.leaflet-touch .leaflet-control-layers-toggle { width: 44px; height: 44px; }
.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle { display: none; }
.leaflet-control-layers-expanded .leaflet-control-layers-list { display: block; position: relative; }
.leaflet-control-layers-expanded { padding: 0px 14px 2px 8px; font: 10px / 14px Arial, Helvetica, sans-serif; background: rgba(51, 45, 45, 0.73); box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px; }
.leaflet-control-layers-scrollbar { overflow-y: scroll; padding-right: 5px; }
.leaflet-control-layers-selector { margin-top: 2px; position: relative; top: 1px; }
.leaflet-control-layers label { display: block; }
.leaflet-control-layers-separator { height: 0px; border-top: 1px solid rgb(221, 221, 221); margin: 5px -10px 5px -6px; }
.leaflet-default-icon-path { background-image: url("images/marker-icon.png"); }
.leaflet-container .leaflet-control-attribution { background: rgba(255, 255, 255, 0.7); margin: 0px; }
.leaflet-control-attribution, .leaflet-control-scale-line { padding: 0px 5px; color: rgb(51, 51, 51); }
.leaflet-control-attribution a { text-decoration: none; }
.leaflet-control-attribution a:hover { text-decoration: underline; }
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale { font-size: 11px; }
.leaflet-left .leaflet-control-scale { margin-left: 5px; }
.leaflet-bottom .leaflet-control-scale { margin-bottom: 5px; }
.leaflet-control-scale-line { border-right: 2px solid rgb(119, 119, 119); border-bottom: 2px solid rgb(119, 119, 119); border-left: 2px solid rgb(119, 119, 119); border-image: initial; border-top: none; line-height: 1.1; padding: 2px 5px 1px; font-size: 11px; white-space: nowrap; overflow: hidden; box-sizing: border-box; background: rgba(255, 255, 255, 0.5); }
.leaflet-control-scale-line:not(:first-child) { border-top: 2px solid rgb(119, 119, 119); border-bottom: none; margin-top: -2px; }
.leaflet-control-scale-line:not(:first-child):not(:last-child) { border-bottom: 2px solid rgb(119, 119, 119); }
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar { box-shadow: none; }
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {border: 2px solid rgb(244, 244, 244);background-clip: padding-box;}
.leaflet-popup { position: absolute; text-align: center; margin-bottom: 20px; }
.leaflet-popup-content-wrapper { padding: 1px; text-align: left; border-radius: 2px; }
.leaflet-popup-content { margin: 8px 15px; line-height: 0.4; }
.leaflet-popup-content p { margin: 18px 0px; }
.leaflet-popup-tip-container { width: 40px; height: 20px; position: absolute; left: 50%; margin-left: -20px; overflow: hidden; pointer-events: none; }
.leaflet-popup-tip { width: 17px; height: 17px; padding: 1px; margin: -10px auto 0px; transform: rotate(45deg); }
.leaflet-popup-content-wrapper, .leaflet-popup-tip { background: rgba(0, 0, 0, 0.62); color: rgb(215, 255, 254); }
.leaflet-container a.leaflet-popup-close-button { position: absolute; top: 0px; right: 0px; padding: 4px 4px 0px 0px; border: none; text-align: center; width: 12px; height: 10px; font: bold 16px / 14px Tahoma, Verdana, sans-serif; color: rgb(229, 12, 12); text-decoration: none; background: transparent; }
.leaflet-container a.leaflet-popup-close-button:hover { color: rgb(153, 153, 153); }
.leaflet-popup-scrolled { overflow: auto; border-bottom: 1px solid rgb(221, 221, 221); border-top: 1px solid rgb(221, 221, 221); }
.leaflet-oldie .leaflet-popup-content-wrapper { zoom: 1; }
.leaflet-oldie .leaflet-popup-tip { width: 24px; margin: 0px auto; }
.leaflet-oldie .leaflet-popup-tip-container { margin-top: -1px; }
.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip { border: 1px solid rgb(153, 153, 153); }
